@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>@Model.WelcomeMessage</h2>

<div>
    <h3>Application Summary</h3>
    <p>Total Applications: @Model.TotalApplications</p>
    <p>Applied: @Model.AppliedCount</p>
    <p>Interviewing: @Model.InterviewingCount</p>
    <p>Rejected: @Model.RejectedCount</p>
    <p>Offer: @Model.OfferCount</p>
    <p>Accepted: @Model.AcceptedCount</p>
</div>
