@page
@model ManageJobsModel
@{
    ViewData["Title"] = "Manage Jobs 💼";
    TimeSpan outOfWork = DateTime.Now - new DateTime(2023, 11, 15);
    int totalDays = @Convert.ToInt32(outOfWork.TotalDays);
    string outOfWorkStatus; 
    
    if (totalDays <= 30)
    {
        outOfWorkStatus = "Relax";
    }
    else if (totalDays <= 90 )
    {
        outOfWorkStatus = "Getting spicy";
    }
    else
    {
        outOfWorkStatus = "Oof!";
    }
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>Use this page to manage your LinkedIn applications.</p>
</div>

<div class="quote-box">
    You've been out of work for @totalDays days - @outOfWorkStatus
</div>


<table class="table mt-5">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Title</th>
            <th scope="col">Company</th>
            <th scope="col">Job URL</th>
            <th scope="col">Outcome</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var job in Model.JobList)
    {
        <tr>
            <td>@job.Date</td>
            <td>@job.Title</td>
            <td>@job.Company</td>
            <td>@job.JobsURL</td>
            <td>@job.Outcome</td>
            <td>
                <form method="post" asp-page-handler="Delete" asp-route-id="@job.JobsID">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>