@page
@model ManageApplicationModel
@{
    ViewData["Title"] = "Manage Applications 💼";
}

<table class="table mt-5 my-5">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Title</th>
            <th scope="col">Company</th>
            <th scope="col">Application URL</th>
            <th scope="col">Outcome</th>
            <th scope="col">Edit/Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var app in Model.AppList)
    {
        <tr>
            <td>@app.Date.ToString("MM/dd/yyyy")</td>
            <td>@app.Title</td>
            <td>@app.Company</td>
            <td>
                <a href="@app.ApplicationURL" target="_blank" rel="noopener noreferrer">@app.ApplicationURL</a>
            </td>
            <td>@app.Outcome</td>
            <td>
                <div class="d-flex gap-2">
                    <form method="post" asp-page-handler="Edit" asp-route-id="@app.ApplicationID">
                        <button class="btn btn-success">
                            <i class="bi bi-pencil"></i>
                        </button>
                    </form>
                    <form method="post" asp-page-handler="Delete" asp-route-id="@app.ApplicationID">
                        <button class="btn btn-danger">
                            <i class="bi bi-trash"></i>
                        </button>

                    </form>
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>